<config>
  <app>
    <title>Game Development template</title>
    <maxFrameDuration value="16"/>
  </app>

  <renderer>
    <vsync value="false"/>
  </renderer>

  <window>
    <resolution width="1024" height="768" scale="4"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
    <screen value="0"/>
  </window>

  <audio>
    <music volume="128"/>
    <fx volume="128"/>
  </audio>

  <scene>
    <map path="Assets/Maps/Level-1/" name="Level-1-map.tmx"/>
    <player x="672" y="2032" texturepath="Assets/Textures/Cat-1-Walk.png"/>
	<enemies>
		<owl_enemy x="750" y="1900" texturepath=""/>
    <dog_enemy x="700" y="2000" texturepath=""/>
	</enemies>
    <item x="256" y="515" texturepath="Assets/Textures/goldCoin.png"/>
  </scene>
  
</config>
