# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
!Game/Source/External/SDL/libx86/SDL2.lib
!Game/Source/External/SDL/libx86/SDL2main.lib
!Game/Source/External/SDL_image/libx86/SDL2_image.lib
!Game/Source/External/SDL_mixer/libx86/SDL2_mixer.lib
!Game/Source/External/Box2D/libx86/DebugLib/Box2D.lib
!Game/Source/External/Box2D/libx86/ReleaseLib/Box2D.lib

# Executables
*.exe
*.out
*.app

# Ignore thumbnails created by windows
Thumbs.db

# Ignore files build by Visual Studio
*.obj
*.pdb
*.aps
# *.user
# *.vcproj
# *.vcxproj*
# *.sln
*.vspscc
*_i.c
*.i
*.icf
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.tlog
.vs

[Bb]uild
[Bb]in
[Dd]ebug/
*.sbr
*.sdf
obj/
[R]elease/
_ReSharper*/
[Tt]est[Rr]esult*
ipch/
*.opensdf
*.db
*.opendb
packages/
Output_Linux/Assets/Audio/Fx/hello_man.wav
Output_Linux/Assets/Audio/Fx/retro-video-game-coin-pickup-38299.ogg
Output_Linux/Assets/Audio/Music/music_spy.ogg
Output_Linux/Assets/Maps/Debug-Map/2bit-demichrome-1x.png
Output_Linux/Assets/Maps/Debug-Map/debug-map.tmx
Output_Linux/Assets/Maps/Debug-Map/Debug-tiles.png
Output_Linux/Assets/Maps/Debug-Map/Metadata16x16.aseprite
Output_Linux/Assets/Maps/Debug-Map/Sprite-0002.aseprite
Output_Linux/Assets/Maps/MapMetadata.png
Output_Linux/Assets/Maps/MapTemplate.tmx
Output_Linux/Assets/Maps/tmw_desert_spacing.png
Output_Linux/Assets/Textures/goldCoin.png
Output_Linux/Assets/Textures/player1.png
Output_Linux/Assets/Textures/test.png
Output_Linux/config.xml
Output_Linux/Gato-Juego
Output_Linux/save_game.xml
Output_Linux/Assets/Textures/Cat-1-Walk.png
